
.trash/Дворянкин С.В., Макаров Ю.К., Хорев А.А. Обоснование критериев эффективности защиты речевой информации от утечки по техническим каналам/Информационно-методический журнал «Защита информации. Инсайд», 2007. № 2(14). С. 18–25. 2.md
